.list-group-item {
	width: 100%;
	border-style: none;
    background-color: #282c34;
    font-size: medium;
}

.list-group-item.sent {
	color:grey;
}

.list-group-item:hover {
	background-color: #282c34;
	color: red;
}


.not-node{
	margin-right: 10px;
}

.not-node .remove{
	border-left: dashed;
	margin-left: 2px;
	border-width: 1px;
	padding-left: 4px;
}

.remove:hover{
	cursor: pointer;
}

