.modal-content{
	background-color: #282c34;
	color: white;
}

.modal-header{
	background-color: red;
}

.mb-check-holder{
	background-color: #282c34;
	align-items: baseline;
}


.mb-check-label{
	background-color: #282c34;
	border: none;
	color: white;
}


@media only screen and (max-width: 600px) {
	.modal-content{
		position: absolute;
		top: 10%;
	}
}