.column:not(:last-child) {
	float: left;
	width: 33.33%;
	height: 100%;
}

.column:after {
	content: "";
	height: 60%;
	margin-top: 20%;
	width: 1px;
	display: block;
	float: right;
	border-right: 1px solid red;
}

.red {
	background-color: red;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}

.home {
	height: 100%;
}
