.sidebar {
	height: 100%;
	width: 160px;
	position: absolute;
	z-index: 1;
	overflow-x: hidden;
	background-color: #282c34;
	color: white;
	border-right: solid;
	border-width: 1px;
	overflow-y: scroll;
	/*border-right: black solid 2px;*/
}

.add-group-btn {
	position: relative;
	display: block;
	left: 10%;
}

.sidebar .username {
	display: none;
}

@media only screen and (max-width: 600px) {
	.sidebar {
		margin-top: 15%;
	}
	.sidebar .username {
		display: block;
		border-bottom: solid;
		border-width: 1px;
	}
}
