.sidebar {
	height: 100%;
	width: 160px;
	position: absolute;
	z-index: 1;
	overflow-x: hidden;
	background-color: #282c34;
	color: white;
	border-right: solid;
	border-width: 1px;
	/*border-right: black solid 2px;*/
}

.add-group-btn {
	position: relative;
	display: block;
	left: 10%;
}