.activegroup {
	position: absolute;
	top: 10vh;
	left: 45%;
}

.add-person-btn {
	display: block;
	margin: auto;
}

.group-title {
	display: inline;
}
.group-edit {
	display: none;
	width: 25px;
	position: absolute;
}

.activegroup-header:hover .group-edit {
	display: inline-block;
	width: 25px;
	top: 15px;
	position: absolute;
}
