.activegroup {
	position: absolute;
	top: 4em;
	left: 45%;
}

.add-person-btn {
	display: block;
	margin: auto;
}

.group-title {
	display: inline;
}
.group-edit {
	display: none;
	width: 25px;
	position: absolute;
}

.activegroup-header:hover .group-edit {
	display: inline-block;
	width: 25px;
	top: 15px;
	position: absolute;
}

@media only screen and (max-width: 600px) {
	.activegroup {
		margin-top: 10%;
		left: 10%;
	}
}
