.App {
  text-align: center;
}

.header {
  overflow: hidden;
  padding: 20px 10px;
  background-color: red;
  height:40px;
}

.main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.dialogue {
  background-color:  paleturquoise;
  padding: 2.5em 6em;
}

.btn1 {
  display:block;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
