
.main {
	background-color: #282c34;
	position: fixed;
	height: 100%;
	width:100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	overflow-y: scroll;
}
