.navbar .title {
	color: white;
	text-decoration: none;
	font-size: x-large;
}

.sign-out-btn,
.sign-in-btn {
	position: absolute;
	right: 1vw;
}

.nav-link {
	display: inline-block;
}

.main .navbar {
	background-color: red;
	border-bottom: 1px;
	border-color: white;
	border-bottom-style: double;
	font-size: medium;
}

.profile-picture {
	border-radius: 50%;
	max-width: 30px;
	margin-right: 5px;
}

.nav-link.right {
	position: absolute;
	right: 7vw;
	top: 0.5vh;
}

.navbar-nav .auth-items span.username {
	color: white;
	margin-top: 0.5em;
}
.navbar-nav .auth-items span.username:hover {
	color: white;
}
.hamburger {
	display: none;
}
@media only screen and (max-width: 600px) {
	.sticky {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 2;
	}

	.navbar .title {
		margin-left: 15%;
	}
}
